* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 600;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.content__one {
    background-color: #911e42;
    color: #fcdd76;
}

.content__two {
    background-color: #a52a2a;
    color: #fff9d0;
}

.content__three {
    background-color: #fdeaa8;
    color: #a52a2a;
}

.btn__top {
    position: fixed;
    bottom: 20px;
    right: -100px;
    width: 60px;
    height: 60px;
    z-index: 99;
    border-radius: 50%;
    background-color: rgb(20, 3, 3);
    cursor: pointer;
    color: #fff;
    border: none;
    transition: right 0.2s ease-in-out;
}

.btn__top i {
    transform: rotate(180deg);
}

.btn__top:hover {
    animation: icon 1s ease-in-out;
}

@keyframes icon {
    0%,50%,100%{ bottom: 20px; }
    25%,75% { bottom: 27px; }
}

.btn__top.show {
    right: 30px;
}

